* {
    padding: 0;
    margin: 0;
    box-sizing: none;
}

:root {
    --dark-color: #333 ;
    --secondary-color: ;
    --primary-color: #fcf5e9;
    --container-normal: 1100px;
    --container-wide: 1400px;
    --container-narrow: 900px;

}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Utility Classes */
.header-flex {
    display: flex;
    justify-content: space-between;
}

/* Container */
.container {
    max-width: var(--container-normal);
    margin: 0 auto;
    padding: 0 1.5rem;
    /* text-align: center; */
}

.container-sm {
    max-width: var(--container-narrow);
}

.container-lg {
    max-width: var(--container-wide);
}

/* HEADER */
.header {
    margin-top: 20px;
    .menu {
        display: flex;
        gap: 32px;

        a {
            color: #333;
            padding: 10px;

            &:hover {
                background: var(--primary-color);
            }

            /* &:active {
                background: var(--primary-color);
            } */

        }
    }

    .logo {
        width: 120px;
    }
}

/* HERO */
.hero {
    text-align: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 3rem;
        font-weight: normal;
        line-height: 1.4;

        .bg-primary {
            background: var(--primary-color);
        }
    }
}

/* GALLERY */
.gallery-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    /* flex: 1; */

    .gallery-item {
        width: calc(33.33% - 20px);

        img {
            width: 100%;
            border-radius: 10px;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}

/* OUR SERVICES */
.our-services {
    padding: 3rem 0;
    background: var(--dark-color);
    color: white;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }
}

.service {
    padding: 1rem;
}

.services-flex {
    display: flex;
}

/* Our team */
.our-team {
    padding: 48px 0 64px;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }
}

.team-container {
    gap: 20px;

    .team {
        width: calc(33.33% - 20px);

        img {
            width: 100%;
            border-radius: 10px;
        }
    }
}


/* FOOTER */
.footer {
    margin-top: 2rem;
    border-top: 1px solid black;
    padding: 1.5rem;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contact {
        h2 {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    }

    .logo {
        width: 120px;
    }

    .socials {
        h2 {
            font-size: 1rem;
            margin-bottom: 0.3rem;
        }

        a {
            color: var(--dark-color);
            font-size: 32px;
            margin-right: 16px;
        }
    }
}
